@media (max-width: 1450px) {
	.started-decore {
		top: -50px;
	}
}
@media (max-width: 1354px) {
	.map-and-time-decore {
		top: -20px;
	}
}
@media (max-width: 1322px) {
	.map-and-time-decore {
		top: -35px;
	}
}
@media (max-width: 1273px) {
	.map-and-time-decore {
		top: -50px;
	}
}
@media (max-width: 1270px) {
	.started-decore {
		top: -70px;
	}
}
@media (max-width: 1217px) {
	.map-and-time-decore {
		top: -70px;
	}
}
@media (max-width: 1210px) {
	.started-decore {
		top: -70px;
	}
}
@media (max-width: 1205px) {
	.started-decore {
		top: -80px;
	}
}
@media (max-width: 1170px){
	.started-decore,
	.essentials-decore,
	.map-and-time-decore
	 {
		display: none
	}
}
