html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
body {
	margin: 0;
}
button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}
ul,
ol,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}